md-toolbar {
    position: fixed;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

nav {
    height: 100%;
    width: 100%;
    outline: 0px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.burger {
    display: inline-block;
}

.logo {
    margin-right: auto;
    margin-left: 30px;
    height: 100%;
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    background: url("https://angular.io/assets/images/logos/angular/angular.png") no-repeat center center;
    background-size: contain;
}
