.wrapper-canvas {
    margin: 24px auto;
    width: 75%;
    min-height: 300px;
    canvas {
        min-width: 250px;
        min-height: 250px;
        max-height: 500px;
    }
}

md-spinner {
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .wrapper-canvas {
        width: 100%;
    }
}